body {
  background: #eee;
  width: 100%;
  max-width: 60em;
  margin: 0 auto !important; /* !important because using normalize.css */
}

.logo {
  font: bolder 4em 'Nunito', sans-serif;
  color: hotpink;
  -webkit-animation: shadow 1.5s ease-in-out infinite;
     -moz-animation: shadow 1.5s ease-in-out infinite;
          animation: shadow 1.5s ease-in-out infinite;
}

@-webkit-keyframes shadow {
  to {
    text-shadow: 0.03em 0.03em white, 0.06em 0.06em rgba(255, 105, 180, 0.5);
  }
}

@-moz-keyframes shadow {
  to {
    text-shadow: 0.03em 0.03em white, 0.06em 0.06em rgba(255, 105, 180, 0.5);
  }
}

@keyframes shadow {
  to {
    text-shadow: 0.03em 0.03em white, 0.06em 0.06em rgba(255, 105, 180, 0.5);
  }
}
