body {
  background: #eee;
  width: 100%;
  max-width: 60em;
  margin: 0 auto !important; /* !important because using normalize.css */
}

.logo {
  display: inline-block;
  font: bolder 4em 'Nunito', sans-serif;
  color: hotpink;
  -webkit-animation: shadow 1.5s ease-in-out infinite;
     -moz-animation: shadow 1.5s ease-in-out infinite;
          animation: shadow 1.5s ease-in-out infinite;
}

@-webkit-keyframes shadow {
  to {
    text-shadow: 0.03em 0.03em white, 0.06em 0.06em rgba(255, 105, 180, 0.5);
  }
}

@-moz-keyframes shadow {
  to {
    text-shadow: 0.03em 0.03em white, 0.06em 0.06em rgba(255, 105, 180, 0.5);
  }
}

@keyframes shadow {
  to {
    text-shadow: 0.03em 0.03em white, 0.06em 0.06em rgba(255, 105, 180, 0.5);
  }
}

.highlight {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  text-shadow: 0.1em 0.1em #ddd, 0.2em 0.2em #ccc;
  font-size: 2.5em;
}

.highlight:before {
  content: "(";
}

.highlight:after {
  content: ")";
}
